table {
    border: 2px solid black;
    width: 600px;
    height: 600px;
    margin: auto;
    margin-top: 50px;
}

tr {
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
}

td {
    border: 1px solid black;
    display: flex;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

#start {
    width: 100px;
    height: 40px;
    display: block;
    margin: 5px;
}

#result {
    display: none;
    margin: auto;
    text-align: center;
    font-size: 30px;
}

#info {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

#player1 {
    margin: 5px;
}

#player2 {
    margin: 5px;
}